html,body{
    height: 100%;
}

body {
    color: #555;
}
div.container {
    display: table;
    height: 100%;
}
div.container .content {
    display: table-row;
    height: 100%;
}
.answer{
    font-size: 16px;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 10px 5px;
}
.highlight{
    background-color: #FAFAFA;
}
blockquote {
    font-size: 16px;
}
div.list-group .list-group-item.active {
    color: #555;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}

.table>thead>tr>th {
    border-bottom: 1px solid #e7e7e7;
    font-weight: normal;
    /*color: #555;*/
}
.table>tbody>tr>th {
    font-weight: normal;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,a{
    /*color: rgb(85, 85, 85);*/
}
p.caption-curd{
    font-size: 16px;
}
label {
    font-weight: 500;
}
.hide{
    display: none !important;
    visibility: hidden !important;
}